img{
    width: 100%;
}

.cursos{
    width: 100%;
    padding: 20px;
    float: left;
}

.cursos .titulo{
   background: rgba(0,0,0,.05);
   width: 500px;
   border-radius: 30px;
   text-align: center;
   box-shadow: 0 5px 3px rgba(0,0,0,.5);
   margin-bottom: 20px;
}

.titulo-h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.5);
}

.contenedor-card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius:30px 30px;
    padding: 15px;
    margin: 20px;
    opacity: .8;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);
    float: left;
}

.contenedor-card:hover{
    opacity: 1;
    border: 1px solid black;
    box-shadow: 0px 3px 5px rgba(0,0,0,1);
}

.contenedor-card .image-curso{
    border-radius: 30px;
}

.contenedor-card .titulo-curso{
    text-align: center;
    margin-top: 15px;
}

.descripcion-curso{
    padding-top: 5px;
    padding-left: 10px;
}

.contenedor-card .titulo-curso-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.contenedor-card .descripcion-curso p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
}

.contenedor-card .descripcion-curso .duracion{
    color: red;
    font-weight: bold;
    padding: 10px;
    background: #ccc;
    border-radius: 30px;
}

.botones-curso{
    width: 100%;
    text-align: center;
}

.btn-curso{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;font-family: Arial, Helvetica, sans-serif;
}

.info{
    border: 1px solid green;
    color: green;
    transition: all .6s ease;
}

.borrar{
    border: 1px solid red;
    color: red;
    transition: all .6s ease;
}

.info:hover{
    background: green;
    color: white;
    border: 1px solid white;
}

.borrar:hover{
    background: red;
    color: white;
    border: 1px solid white;
}

