
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}

.clearfix{
    clear: both;
    float: none;
}

.container-principal{
    width: 100%;
    background: #F2F0EF;
    overflow: hidden;
}

.header-nosotros{
    width: 95%;
    height: 300px;
    background: #5D3C66;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.titulo-nosotros{
    width: 70%;
    padding: 20px;
    float: left;
}

.titulo-nosotros h1,h2{
    color: white;
    font-weight: bold;
}

.titulo-nosotros h2{
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

.titulo-nosotros h2 span{
    color: #D23228;
}


.texto-header{
    width: 70%;
    float: left;
}

.fondo-nosotros{
    padding: 30px;
    width: 30%;
    float: left;
}

.fondo-nosotros img{
    border-radius: 20px;
}

.mid-nosotros{
    width:60%;
    margin: 0 auto;
}

.mid-nosotros p{
    font-size:25px;
}

.mid-nosotros p span{
    font-weight: bold;
    color: #D23228;
    font-size:30px;
}

.mid-fondo{ 
    width: 95%;
    margin: 0 auto;
}
.mid-fondo img{
    border-radius: 10px;
    height: 600px;
}

.mision{
    width: 95%;
    margin: 0px auto;
    padding: 30px;
    overflow: hidden;
}

.mision-imagen{
    width: 30%;
    float: left;
    margin: 0 auto;
}

.mision-imagen img{
    border-radius: 10px;
}

.mision-texto{
    width: 70%;
    padding: 20px;
    float: left;
}

.mision-texto h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    font-weight: bold;
    color: #00262B;
}

.mision p{
    font-size: 20px;
}

.mision li{
    color: #00262B;
    font-size: 18px;
}

footer{
    margin: 0px auto;
    height: 50px;
    width: 95%;
    background: #00262B;
    border-radius: 10px;
    text-align: center;
}

footer h2{
    font-size: 20px;
    line-height: 50px;
}

footer h2 span{
    color: #D23228;
}

