
body {
    font-family: custom;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

#navbar {
    height: 15%;
    width: 100%;
    background: #3C3C3C;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
}

#logo {
    height: 100%;
    width: auto;
}

.nav {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.nav:hover {
    cursor: pointer;
    background-color: white;
    color:#A435C4;
    border-radius: 5px;
    padding: 10px;
}

.menuCategorias {
    height: 85%;
    width: 15%;
    background-color: #cacad862;
}

.cat{
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #7C348C;
    border-right-style: inset; 
    
    
}
.cat:hover {
    cursor: pointer;
    background-color: #3C3C3C;
    color:whitesmoke;
    border-radius: 5px;
    padding: 4px;
}
.contenedor{
    height: 85%;
    width: 85%;
    background-color: whitesmoke;
}

footer{
    background: #3C3C3C;
    text-align: center;
    width: 100%;
    height: 50px;
}

footer .title-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 50px;
    color: white;
}